In [1]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-8.1.0-cp38-cp38-win_amd64.whl (10.8 MB)
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp38-cp38-win_amd64.whl (527 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

WARNING: You are using pip version 21.1.1; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\natos\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [1]:
import mysql.connector

In [3]:
import pyodbc
import pandas as pd

In [7]:
server = 'LAPTOP-NAOMI'
database = 'CircleItems'
username = 'database1'
password = 'circle1'

conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    
)

connection = pyodbc.connect(conn_str)

In [10]:
-- DONT RUN
-- CREATE TABLE HERE 
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE Category1 (
    category_id INT PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL
)
'''

cursor.execute(create_table_query)
connection.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'Category1' in the database. (2714) (SQLExecDirectW)")

In [ ]:
-- RUN: create your tables here: replace my items infor name with yours but the variables can stay the same
-- CREATING SUB CATEGORIS TABLE FOR ITEMS 
cursor = connection.cursor()

create_table_query = '''
CREATE TABLE ELECTRONICsubcat (
    subcategory_id INT PRIMARY KEY,
    subcategory_name VARCHAR(255) NOT NULL,
    category_id INT,
    FOREIGN KEY (category_id) REFERENCES Category(category_id)
)


-- Create the ElectronicItems table to store electronic item details.
CREATE TABLE ElectronicItems (
    electronic_item_id INT PRIMARY KEY,
    item_name VARCHAR(255) NOT NULL,
    subcategory_id INT,
    material VARCHAR(255),
    reuse_info VARCHAR(255),
    recycle_info VARCHAR(255),
    reduce_info VARCHAR(255),
    money_generation_info VARCHAR(255),
    eco_rating INT,
    eco_friendly_company VARCHAR(255),
    FOREIGN KEY (subcategory_id) REFERENCES Subcategory(subcategory_id)
)


-- Create the Subcategory table to represent subcategories within Kitchen.
CREATE TABLE KitchenSubcategory (
    kitchen_subcategory_id INT PRIMARY KEY,
    kitchen_subcategory_name VARCHAR(255) NOT NULL,
    category_id INT,
    FOREIGN KEY (category_id) REFERENCES Category(category_id)
)


-- Create the KitchenItems table to store kitchen item details.
CREATE TABLE KitchenItems (
    kitchen_item_id INT PRIMARY KEY,
    item_name VARCHAR(255) NOT NULL,
    kitchen_subcategory_id INT,
    material VARCHAR(255),
    reuse_info VARCHAR(255),
    recycle_info VARCHAR(255),
    reduce_info VARCHAR(255),
    money_generation_info VARCHAR(255),
    eco_rating INT,
    eco_friendly_company VARCHAR(255),
    FOREIGN KEY (kitchen_subcategory_id) REFERENCES KitchenSubcategory(kitchen_subcategory_id)
)
'''

cursor.execute(create_table_query)
connection.commit()

In [ ]:
-- RUN:create a new block, add the category here for the big items table: change items to your items because the database already has my items 
-- INSERTING DIFFERENT CATEGORIES INTO CATEGORIES TABLE(BIG TABLE)
cursor = connection.cursor()

create_table_query = '''
INSERT INTO Category (category_id, category_name) VALUES
    (1, 'Electronics'),
    (2, 'Kitchen');
)


INSERT INTO KitchenSubcategory (kitchen_subcategory_id, kitchen_subcategory_name, category_id) VALUES
    (1, 'Cookware', 2),
    (2, 'Food Storage', 2),
    (3, 'Utensils', 2);

INSERT INTO KitchenItems (kitchen item varibles here ) VALUES
    (1, 'Cookware', 2),
    (2, 'Food Storage', 2),
    (3, 'Utensils', 2);



'''

cursor.execute(create_table_query)
connection.commit()

In [ ]:
-- dump here 
Online SQL Editor to Run SQL Online.
-
=



-- Populate the KitchenSubcategory table with data.
INSERT INTO KitchenSubcategory (kitchen_subcategory_id, kitchen_subcategory_name, category_id) VALUES
    (1, 'Cookware', 2),
    (2, 'Food Storage', 2),
    (3, 'Utensils', 2);

-- Create the KitchenItems table to store kitchen item details.
CREATE TABLE KitchenItems (
    kitchen_item_id INT PRIMARY KEY,
    item_name VARCHAR(255) NOT NULL,
    kitchen_subcategory_id INT,
    material VARCHAR(255),
    reuse_info VARCHAR(255),
    recycle_info VARCHAR(255),
    reduce_info VARCHAR(255),
    money_generation_info VARCHAR(255),
    eco_rating INT,
    eco_friendly_company VARCHAR(255),
    FOREIGN KEY (kitchen_subcategory_id) REFERENCES KitchenSubcategory(kitchen_subcategory_id)
);

-- Populate the ElectronicItems and KitchenItems tables with data.
-- You can insert your electronic and kitchen item details here.

DROP TABLE Customers;